@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* Colors */
:root {
  --primary: #3f0fc8;
  --secondary: #62b8b2;
  --gray1: #dbdbdb;
  --gray2: #7a7a7a;
  --gray3: #4a4a4a;
  --gray4: #363636;
  --black: #2b2b2b;
  --purpleDark: #433981;
  --blue: #3d4fb1;
}

$colors: (
  "primary": var(--primary),
  "secondary": var(--secondary),
  "gray1": var(--gray1),
  "gray2": var(--gray2),
  "gray3": var(--gray3),
  "gray4": var(--gray4),
  "black": var(--black),
);

@each $color-name, $color-value in $colors {
  .is-#{$color-name} {
    color: $color-value;
  }
}

/* Typography */
* {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

/* Useful classes */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
